@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
 @import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
body, .topbar {
    background: rgba(250, 248, 239, 1.0);
}
body, textarea {
    font-size: 15pt;
    font-family:"Bitter", sans-serif;
    color: rgba(0, 0, 0, 0.75);
    /*text-shadow: 0 0 0em rgba(0, 0, 0, 0.8);*/
}
body > *, textarea {
    font-size: 1em;
}
textarea {
    border: 0;
    border-left: 0.1em dotted rgba(0, 0, 0, 0.1);
    padding: 0.25em;
    padding-left: 1em;
    background: transparent;
    width: 96%;
    resize:none;
}
textarea:focus {
    outline: none;
    border-left-color: rgb(47, 126, 201);
}
li {
    margin: 0em 0;
}
.filter-blur {
    -webkit-filter: blur(10px);
}
.topbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1.5em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.topbar, .footer {
    font-weight: normal;
    font-family:"Helvetica Neue";
    text-transform: uppercase;
}
.topbar {
    box-shadow: 0 1em 2em rgba(250, 248, 239, 1);
}
.topbar {
    position: fixed;
}
.footer {
    font-size: 0.75em;
    text-align: right;
    padding: 1em;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
.topbar li {
    list-style-type: none;
    display: inline;
}
.topbar li::after {
    content:" |";
    color: rgba(0, 0, 0, 0.3);
}
.topbar li:last-child::after {
    content:"";
}
.symbol-definition {
    list-style-type:none;
    padding: 2em 0.5em;
    /*background:rgba(238, 228, 218, 1.0);*/
    border-bottom: 0.1em dotted rgba(0, 0, 0, 0.15);
    /*border-radius: 0.25em;*/
}
.container {
    max-width: 50rem;
    margin: 0 auto;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
.symbol-definition > ul > li:first-child textarea {
    font-weight: bold;
    font-size: 1.1em;
}
.topbar li.invisible {
    transition: opacity 1s linear;
    opacity: 0;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox */
 @-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari and Chrome */
 @-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */
 @-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
​ .fade_item_1 {
    -webkit-animation: fadein 0.5s;
    /* Safari and Chrome */
    -moz-animation: fadein 0.5s;
    /* Firefox */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera */
    animation: fadein 0.5s;
}

.symbol-lines {
     list-style-type:none;
     padding:0.33em;
}