/* 
 * Import
*/

  /* Fonts */
    @import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
    @import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

/*
 * Reset
*/

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
      min-height: 100%;
  }

  input, button, textarea {
    border: none;
    text-shadow: none;
    min-width: 0;
  }

  input, button, textarea {
    background: transparent;
  }

/* 
 * Typography
*/

    body, textarea, button, input {
      font-size: 16pt;
      font-family:"Bitter", sans-serif;
      color: rgba(0, 0, 0, 0.75);
    }

    .topbar, .footer {
      font-weight: normal;
      font-family:"Helvetica Neue";
      text-transform: uppercase;
      font-weight: bold;
    }

    .workspace {
      color: blue;
    }

    .btn {
      font-size: 1rem;
    }

/* 
 * Structure
*/

  /* Grid */

    .grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .grid.center {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .symbolInput {
      padding: 0.25rem;
      padding-left: 1rem;
      width: 96%;
      resize:none;
    }

    /* Sections */

      .container {
        max-width: 50rem;
        margin: 0 auto;
        padding-top: 4rem;
      }

      .topbar {
        width: 100%;
        padding: 1.5rem;
        position: fixed;

      }

      .footer {
        font-size: 0.75rem;
        text-align: right;
        padding: 1rem;
      }

      .topbar li {
        list-style-type: none;
        display: inline;
      }
        .topbar li::after {
          content:" |";
          color: rgba(0, 0, 0, 0.3);
        }
        .topbar li:last-child::after {
          content:"";
        }

      .symbol-definition {
        list-style-type:none;
        padding: 2rem 0.5rem;
        /*background:rgba(238, 228, 218, 1.0);*/
        border-bottom: 0.1rem dotted rgba(0, 0, 0, 0.15);
        /*border-radius: 0.25em;*/
      }
        .symbol-definition > ul > li:first-child textarea {
          font-weight: bold;
          font-size: 1.5rem;
        }

      .topbar li.invisible {
        transition: opacity 1s linear;
        opacity: 0;
      }
      .symbol-lines {
        list-style-type:none;
        padding:0.33rem;
      }

/* 
 * Skin
*/

    /* Colors */

    /* BLUE: rgb(47, 126, 201) */

      body, 
      .topbar 
        {
          background: rgba(250, 248, 239, 1.0);
        }

    /* Actions */

      .action {
        opacity: 0.8;
      }

    /* Inputs */
    
      .symbolInput {
        border-left: 0.2rem dotted rgba(0, 0, 0, 0.2);
      }
  
      .symbolInput:focus {
        outline: none;
        border-left-color: rgb(47, 126, 201);
      }

    /* Styles */

      .filter-blur {
        -webkit-filter: blur(10px);
      }

      .topbar {
        /*SAME COLOR */
        /*box-shadow: 0 1rem 2rem rgba(250, 248, 239, 1);*/
        /* Black */
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.09)
      }

/* 
 * Interactions
*/

  /* Mouse */
  button {cursor: pointer}
  
  .btn.action:hover {
    color: rgb(47, 126, 201);
  }

/* 
 * Animations
*/

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Firefox */
   @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Safari and Chrome */
   @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Internet Explorer */
   @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade_item_1 {
    -webkit-animation: fadein 0.5s;
    /* Safari and Chrome */
    -moz-animation: fadein 0.5s;
    /* Firefox */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera */
    animation: fadein 0.5s;
  }

