<script type="text/ng-template" id="item.html">
    <input symbolmod type="text" id="{{x}}" ng-model="symbols[item.meta.id][0].media.text" /><input type="hidden" ng-model="item">
    <ul><li ng-repeat="item in item.link" ng-include="'item.html'" ng-init="x = x + '.link['+$index.toString() + ']' "></li></ul>
</script>

<button ng-click="move('23423423[0].link[0].link[0]')">MOVE</button>

<ul>
  <li ng-repeat="id in workspace" style="background:rgba(0,0,0,0.1)" >
   <ul>
       <li ng-repeat="item in symbols[id]" ng-include="'item.html'" ng-init="x =  id  +'['+$index.toString() + ']' "></li>
   </ul>
 </li>
</ul>